* {
	padding: 0;
	margin: 0;
	font-family: 'Indie Flower', cursive;
}

body {
	/*background-color: gray;*/
}

#main-section {
	background-color: gray;
}

section#main-section > a {
	color: white;	
	text-decoration: none;
	padding: 15px;
	display: block;	
}

a[href="https://github.com/escuadrokiernichol"] {
	position: absolute;
	top: 0;
	right: 0;
	
}

.about {
	width: 60%;
	/*margin: 0 auto;*/
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.my-picture {
	height: 150px;
	padding: 3px;
	border-radius: 50%;
	border-style: solid;
	border-color: white;
	border-width: 5px;
}

h1 {
	color: #fff;
	font-size: 50px;
	font-weight: normal;
}

#dev-description {
	padding-top: 15px;
	padding-bottom: 15px;

}

#porfolio-section {
	background-color: blue;
}

#skills-section {
	background-color: green;
}

#about-section {
	background-color: yellow;
}

#main-section,
#porfolio-section,
#skills-section,
#about-section {
	height: 100vh;
}